---
title: Software Engineer
description: I'm Kirpal Demian, a software engineer at Very Good Ventures.
inline_styles:
  - home-critical.scss
linked_styles:
  - home-deferred.css
---
<section id="about">
  <picture>
    <source type="image/webp" srcset="/assets/images/portrait.webp">
    <source type="image/jpeg" srcset="/assets/images/portrait.jpg">
    <img src="/assets/images/portrait.jpg" alt="Me">
  </picture>
  <div>
    <h1>👋 &nbsp; Hello!</h1>
    <p>
      {{site.description}}
      <br>&nbsp;<br>
      <b>Right now:</b>
      <ul class="no-dots">
      <li class="emoji-list-item" style="--list-emoji: '🌆 ';">I live in Boston, MA</li>
      <li class="emoji-list-item" style="--list-emoji: '🦄 ';">I'm working for <a href="https://verygood.ventures" style="color: var(--now-vgv-color);" target="_blank" rel="noopener">Very Good Ventures</a></li>
      <li class="emoji-list-item" style="--list-emoji: '🎧 ';"><span id="now-playing" class="loading-dots">I'm listening to</span></li>
      {% assign reading_books = site.data.reading | where: "status", "currently-reading" | sort: "date-started" %}
      {% if reading_books.size > 0 %}
        {% assign current_book = reading_books | first %}
        <li class="emoji-list-item" style="--list-emoji: '📖 ';">I'm reading <a href="/reading" style="color: var(--now-reading-color);"><cite>{{current_book.title}}</cite></a> by {{current_book.author}}</li>
      {% else %}
        {% assign read_books = site.data.reading | where: "status", "read" | sort: "date-finished" %}
        {% if read_books.size > 0 %}
          {% assign last_book = read_books | first %}
          <li class="emoji-list-item" style="--list-emoji: '📖 ';">I last read <a href="/reading" style="color: var(--now-reading-color);"><cite>{{last_book.title}}</cite></a> by {{last_book.author}}</li>
        {% endif %}
      {% endif %}
      </ul>
    </p>
  </div>
</section>

<a name="projects"></a>
<section id="projects">
  <h2>My Projects</h2>
  {% for project in site.data.projects %}
    <div class="project full-bleed" style="background: {{project.color}}dd">
      <div class="{{project.type}}">
        <img class="screenshot " src="/assets/images/projects/{{project.image}}" alt="{{project.name}} Screenshot" loading="lazy">
        {% if project.type == "window" or project.type == "website" %}
          <div class="buttons close"></div>
          <div class="buttons minimize"></div>
          <div class="buttons maximize"></div>
        {% endif %}
        {% if project.type == "website" %}
          <div class="tab">
            <div class="tab-favicon" style="background: {{project.color}}"></div>
          </div>
        {% endif %}
      </div>

      <div class="information">
        <h1 class="information-name">{{project.name}}</h1>
        <p class="information-description">{{project.description}}</p>
        {% if project.url %}
          <a class="information-link" href="{{project.url}}" target="_BLANK" rel="noopener">Website</a>
        {% endif %}
        {% if project.github %}
          <a class="information-link" href="https://github.com/{{project.github}}" target="_BLANK" rel="noopener">Github</a>
        {% endif %}
        {% if project.comingSoon %}
          <a class="information-link disabled">Coming Soon...</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>

<a name="tech"></a>
<section id="tech" class="full-bleed">
  <h2>My Tools</h2>
  {% for item in site.data.tech %}
    <div class="tech-item {{item.icon}}-tech-icon" title="{{item.name}}">
      <img class="tech-icon" src="/assets/images/icons/{{item.icon}}.svg" alt="{{ item.name }} icon">
      <span class="tech-name">{{item.name}}</span>
    </div>
  {% endfor %}
</section>

<a name="contact"></a>
<section id="contact" class="full-bleed">
  <h2 id="contact-title">Contact Me</h2>
  <div class="contact-section">
    <ul id="contact-info">
      {% for service in site.data.contact %}
        <li>
          <img class="contact-icon" src="/assets/images/icons/{{service.icon}}.svg" alt="Icon">
          <a class="contact-method" href="{{service.url}}" target="_BLANK" rel="noopener">{{service.name}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<script src="/assets/js/now.js" type="text/javascript" defer></script>
