#nav-wrapper {
  border-bottom: 1px solid var(--border-color);
}

.navigation-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .nav-group {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  #logo {
    height: 2.5em;
    margin: 1em;
    margin-left: 0;
    padding: 0.5em 0.65em;
    border: 0.15em solid var(--text-primary);
    border-radius: 0.15em;

    polygon {
      fill: var(--text-primary);
    }
  }

  #theme-switch {
    left: 0.5em;
    top: -0.3em;
    line-height: 0;
    padding: 0;
    border: none;
    background: none;
    position: relative;
    width: 3.2em;
    height: 1.6em;

    &:focus:not(:focus-visible) {
      outline: 0;
    }

    svg {
      width: 3.2em;
      height: 1.6em;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  #nav-name {
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;

    @media screen and (max-width: 60rem) {
      display: none;
    }
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

    li {
      padding: 0 0.5em;

      a {
        color: var(--text-primary);
        text-decoration: none;
        font-weight: 500;
    
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}